html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 > a {
  color: #149ECA;
}

h2 {
  color: rgba(255, 255, 255, 0.5);
}

h3, p {
  color: #fff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #149ECA;
}

body {
  font-family: sans-serif;
  background: #2b303b;
}

/* Navbar */

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #149ECA;
  background: #23272f;
  color: #FFF;
  height: 4.1rem;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: #23272f
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/* Hero */

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.hero img {
  position: absolute;
  top: 8.0rem;
  left: 8.6rem;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.hero-frame {
  position: relative;
  width: 24rem;
  height: 20rem;
}

.ellipse-1 {
  position: absolute;
  top: 0rem;
  left: 7.4rem;
  box-sizing: border-box;
  width: 148.29px;
  height: 374.19px;
  border: 13px solid #149ECA;
  border-radius: 50%;
  transform: matrix(0, 1, -1, 0, 0, 0);
}

.ellipse-2 {
  position: absolute;
  top: 0rem;
  left: 7.4rem;
  box-sizing: border-box;
  width: 148.29px;
  height: 374.19px;
  border: 13px solid #149ECA;
  border-radius: 50%;
  transform: matrix(-1, 0.5, -0.5, -0.8, 0, 0);
}

.ellipse-3 {
  position: absolute;
  top: 0rem;
  left: 7.4rem;
  box-sizing: border-box;
  width: 148.29px;
  height: 374.19px;
  border: 13px solid #149ECA;
  border-radius: 50%;
  transform: matrix(1, 0.5, -0.5, 0.8, 0, 0);
}

/* About */

.about {
  max-width: 50rem;
  padding: 0.625rem;
  text-align: center;
}

.about h3 {
  font-size: 2rem;
  margin-bottom: 16px;
}

.about p {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.3rem 0;
}

.about-btn {
  width: 6.6rem;
  box-sizing: border-box;
  border: 1px solid #149ECA;
  border-radius: 24px;
  background-color: #2b303b;
  color: #149ECA;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  transition: 0.3s;
  cursor: pointer;
}

.about-btn-frame {
  padding: 1.5rem;
  padding-bottom: 5rem;
}

.about-btn:hover {
  background-color: #149ECA;
  color: #fff;
}

.about-detail {
  min-height: 100vh;
  margin: auto;
  padding: 0 10rem;
  width: 80%;
}

.about-detail h2 {
  padding-top: 6.5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.about-detail h3 {
  font-size: 1.8rem;
  margin-bottom: 16px;
}

.about-detail p {
  line-height: 1.5;
  font-size: 1.5rem;
}

.about-detail img {
  width: 20rem;
  border-radius: 11px;
}

.about-detail-frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

/* Skills */

.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper {
  padding: 4.5rem;
}

.skills-wrapper img {
  object-fit: cover;
}

.icon {
  width: 6rem;
  height: 6rem;
}

.icon-card {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 3px 10px #23272f;
  margin: 4px;
}

.skills-wrapper img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
/* Project */

.projects {
  background-color: #2b303b;
  margin-top: 2.5rem;
}

.project-image {
  width: 16rem;
  object-fit: cover;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
}

.projects-title {
  text-align: center;
}

.project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 40rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-frame {
  width: 24rem;
  padding-left: 32px;
}

.project-title {
  padding-left: 4px;
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 2px;
}


.project-title span {
  transform: rotate(-45deg);
  display: inline-block;
}

.project-details {
  font-size: 0.8rem;
  font-weight: 300;
}

.project-tech-stacks {
  font-size: small;
}

.project-card {
  background-color: #2b303b;
  border-radius: 11px;
  border: 1px solid #d6d6d6;
  padding: 20px;
  margin: 10px;
}

.project-card:hover {
  background-color: #23272f;
  border: 1px solid #149ECA;
  color: #149ECA;
  text-decoration-color: #149ECA;
}

.project-card:hover .project-title {
  color: #149ECA;
  text-decoration-color: #149ECA;
}

.project-card:hover .project-title span {
  transform: rotate(-45deg) translate3d(2px, 0, 3px);
  transition: 0.2s;
}

/* Contact */

.contact {
  margin-top: 2.5rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: 24px;
}

.contact-form-container {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 16px;
  border: 1px solid #149ECA;
}

.contact-form-container label {
  line-height: 2.5em;
  color: #fff;
  padding: 0.3rem;
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #666666;
  border: 2px solid #23272f;
  color: #fff;
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  color: #333;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #149ECA;
  border: 2px solid #23272f;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s;
  color: #fff;
}

.submit-btn:hover {
  background-color: #0f5870;
  border: 2px solid #23272f;
  cursor: pointer;
}

footer {
  background-color: #2b303b;
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}



/* Responsive */


/* Tablet */

@media screen and (max-width: 720px) {

  /* Navbar */

  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 30px;
    margin-top: 2.2rem;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 0.5px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #fff;
    background-color: #23272f;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  .burger-menu {
    display: block;
  }

  .burger-menu path {
    fill: #fff;
  }

  /* Hero */
  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    position: absolute;
    top: 6.2rem;
    left: 8.3rem;
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
  }

  .hero-frame {
    position: relative;
    width: 22rem;
    height: 24rem;
  }

  .ellipse-1 {
    position: absolute;
    top: 0rem;
    left: 7.4rem;
    box-sizing: border-box;
    width: 7rem;
    height: 18rem;
    border: 10px solid #149ECA;
    border-radius: 50%;
    transform: matrix(0, 1, -1, 0, 0, 0);
  }

  .ellipse-2 {
    position: absolute;
    top: 0rem;
    left: 7.7rem;
    box-sizing: border-box;
    width: 7rem;
    height: 18rem;
    border: 10px solid #149ECA;
    border-radius: 50%;
    transform: matrix(-1, 0.5, -0.5, -0.8, 0, 0);
  }

  .ellipse-3 {
    position: absolute;
    top: 0rem;
    left: 7.4rem;
    box-sizing: border-box;
    width: 7rem;
    height: 18rem;
    border: 10px solid #149ECA;
    border-radius: 50%;
    transform: matrix(1, 0.5, -0.5, 0.8, 0, 0);
  }

  .about-btn-frame {
    padding-top: 1.5rem;
  }

  .about-btn {
    display: inline-block;
    margin: 2px;
  }

  .about p {
    font-size: 1.3rem;
  }

  /* About */
  .about {
    margin-top: -7rem;
    width: 20.5rem;
  }

  .about-detail {
    width: 100%;
    padding: 2rem;
  }

  .about-detail-frame {
    width: 100%;
    padding: 1rem;
    flex-direction: column;
  }

  .about-detail img {
    width: 15rem;
    height: 18rem;
  }

  .about-detail h3 {
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  .about-detail p {
    font-size: 0.8rem;
  }

  .icon {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 8px;
  }

  /* Project */
  .projects-container {
    flex-direction: column;
  }

  .project-container {
    flex-direction: column;
    width: 25rem;
  }

  .project-title {
    padding-top: 16px;
  }

  /* Contact */
  .contact-form-container {
    max-width: 23.75rem;
  }
}


/* Mobile */

@media screen and (max-width: 420px) {

  h1, h2 {
    font-size: 1.2rem;
  }

  /* Hero */

  .hero img {
    position: absolute;
    top: 7.2rem;
    left: 8.8rem;
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
  }

  .hero h3 {
    padding-top: 1.5rem;
    font-size: 1.5rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero-frame {
    position: relative;
    width: 100%;
    height: 16rem;
  }

  .ellipse-1 {
    position: absolute;
    top: 1rem;
    left: 8rem;
    box-sizing: border-box;
    width: 7rem;
    height: 18rem;
    border: 10px solid #149ECA;
    border-radius: 50%;
    transform: matrix(0, 1, -1, 0, 0, 0);
  }

  .ellipse-2 {
    position: absolute;
    top: 1rem;
    left: 8rem;
    box-sizing: border-box;
    width: 7rem;
    height: 18rem;
    border: 10px solid #149ECA;
    border-radius: 50%;
    transform: matrix(-1, 0.5, -0.5, -0.8, 0, 0);
  }

  .ellipse-3 {
    position: absolute;
    top: 1rem;
    left: 8rem;
    box-sizing: border-box;
    width: 7rem;
    height: 18rem;
    border: 10px solid #149ECA;
    border-radius: 50%;
    transform: matrix(1, 0.5, -0.5, 0.8, 0, 0);
  }

  .about-btn-frame {
    padding-top: 1.5rem;
  }

  .about-btn {
    display: inline-block;
    margin: 2px;
  }

  /* About */

  .about {
    padding-top: 7.5rem;
    width: 100%;
  }

  .about-detail {
    width: 100%;
    padding: 1rem;
  }

  .about-detail-frame {
    width: 100%;
    padding: 1rem;
    flex-direction: column;
  }

  .about-detail img {
    width: 7.5rem;
    height: 8.5rem;
  }

  .about-detail h3 {
    font-size: 1.4rem;
    margin-bottom: 0;
  }

  .about-detail p {
    font-size: small;
  }

  .icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 8px;
  }

  /* Project */

  .project-container {
    width: 17.875rem;
  }

  .project-frame {
    width: 17.875rem;
    padding: 16px;
  }

  /* Contact */

  .contact-form-container {
    max-width: 17.75rem;
  }

  .name-email-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}